$nav-bg: #ddd;
$nav-txt: #444;
$nav-alt: #009999;
// $nav-alt: RGB(84, 144, 242);
// #00cc99


.navbar {
  padding: 0 40px;
  z-index: 2;
  margin-bottom:0;
  background-color: $nav-alt;
  a {
    color: $nav-txt;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style-type: none;
  }
}

.navbar-inverse {
  background-color: invert($nav-bg);
  a {
    color: invert($nav-txt);
  }
}

.navbar-brand {
  float: left;
  font-size: 1.2em;
  // margin-top: 13px;
}

.navbar-right {
  float: right;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-fluid {
  height: 3.5em;
}

// .navbar-nav {
//   float: left;
//   margin: 0
// }

.navbar-nav>li {
  float: left
}