.navbar {
  padding: 0 40px;
  z-index: 2;
  margin-bottom: 0;
  background-color: #009999; }
  .navbar a {
    color: #444;
    text-decoration: none; }
    .navbar a:hover {
      text-decoration: underline; }
  .navbar ul {
    list-style-type: none; }

.navbar-inverse {
  background-color: #222222; }
  .navbar-inverse a {
    color: #bbbbbb; }

.navbar-brand {
  float: left;
  font-size: 1.2em; }

.navbar-right {
  float: right; }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%; }

.container-fluid {
  height: 3.5em; }

.navbar-nav > li {
  float: left; }

@media screen and (max-width: 768px) {
  .fixed-dynamic {
    position: fixed;
    left: 0;
    bottom: 0; }
  .fixed-bottomDyn {
    position: fixed;
    left: 0;
    bottom: 0; }
  .fixed-rightDyn {
    position: fixed;
    right: 0;
    bottom: 0; }
  .bigger-blocks {
    width: 45%; } }

@media screen and (min-width: 768px) {
  .fixed-dynamic {
    position: fixed;
    right: 0;
    bottom: 0; } }

#plannerIcon {
  margin-top: 9px;
  margin-right: 6px;
  float: left; }

#sidebar-Filler {
  height: 120px; }

#map-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh; }

.btnsmall {
  padding: 0;
  height: 22px;
  width: 22px; }

.buttonDiv {
  margin: 3%; }

.filler {
  height: 25px; }

.sidebar {
  z-index: 1;
  height: 100%;
  width: 25%; }

.float-right {
  float: right; }

.findclass {
  padding: 4%;
  margin: 3%;
  border-radius: 25px; }

.dropdown {
  width: 75%;
  margin-bottom: 10px; }

.days-nav {
  padding: 2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; }

.days-contents {
  padding: 4%;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.days {
  margin: 3%; }

.colorschemeDark {
  background-color: RGB(53, 125, 242); }

.colorschemeMedium {
  background-color: #009999; }

.colorschemeLight {
  background-color: #e6e6e6; }

.h3-trim-top {
  margin-top: 10px; }

.shadowradius {
  -moz-box-shadow: 3px 3px 5px 2px #5D5D5D;
  -webkit-box-shadow: 3px 3px 5px 2px #5D5D5D;
  box-shadow: 3px 3px 5px 2px #5D5D5D;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.btn-day {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #000000; }
