<!DOCTYPE html>
<html>
  <head>
    <title>Trip Planner - {% block title %}{% endblock %}</title>
    <!-- Stylesheets go here! -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Scripts go here? -->
    <script src= "/jquery/jquery.min.js" defer></script>
    <script src= "/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrR-_DTJrxMGNS_S4kbIjjMjRRrfVNGTY&sensor=true"></script>
    <script src="/js/maps.js" defer></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a href='#' class='navbar-brand'>nav</a>
    </nav>-->
      <!-- <nav class="navbar navbar-default"> -->
      <nav class="navbar">
        <div class="container-fluid">

          <div class="navbar-header">
            <img src='/white-map-icon.png' width=30px id='plannerIcon'></img>
            <a class="navbar-brand" href="#">Trip Planner</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>

    {% block content %}
    {% endblock %}


    <!-- Script tags go here! -->
    <!-- <script src='jqueryfileplaceholder.js'></script> -->
    <!-- <script src='jquery-3.1.1.min.js'></script>
    <script src='tripplanner.js'></script> -->
  </body>
</html>
